#header{
    background-color: white;
    color: rgb(244, 95, 100);
    text-transform: uppercase;
    text-indent: 170px;
    padding-bottom: 5px;
}
.container{
    background-color:rgb(230, 235, 234);
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.navbar{
    padding: 5px 20px 20px 15px;
}

.main{
    padding: 20px 120px 20px 20px;
}

.aside{
    padding: 20px 100px 20px 5px;
}

.footer{
    font-size: 14px;
    text-indent: 170px;
    color: rgb(244, 95, 100);
    padding-bottom: 5px;
}

#header, .navbar, .main, .aside, .footer{
    display: block;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
    .container{
        font-size: 75%;
    }
        .content{
            flex-direction: column;
        }
}

@media (min-width: 480px) and (max-width: 1024px) {
    .container{
        font-size: 88%;
    }
        .content{
            flex-direction: column;
}
}

@media (min-width: 1024px) and (max-width: 1300px) {
    .container{
font-size: 100%;
}
}